.fake-input {
    background: #f0f4fd;
    border-radius: 6px;
    border: none;
    color: #72808e;
    min-height: 40px;
    font-size: 1.6rem;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    border: 1px solid rgba(114, 128, 142, 0.3)
}
