html {
    font-size: 10px;
    --text-color: #000000;
    --error-color: #ff4d4f;
}

#root {
    flex: 1 1 auto;
}

.none {
    display: none;
}

body {
    font-size: 1.6rem;
    display: flex;
    background-color: #f1f4fa;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    min-height: calc(100dvh - 40px);

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    * {
        box-sizing: border-box;
    }
}

button {
    text-decoration: none;
    cursor: pointer;
    border: none;
    background: transparent;
    padding: 0;
}

a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
  text-decoration: none;
  color: #252b37;

}


.application {
    flex: 1 1 auto;
    display: flex;

    .application-content {
        flex: 1 1 auto;
        padding: 90px 20px 20px 20px;
        margin: 0 auto;
        overflow-x: hidden;
        max-width: 1540px;
        position: relative;
    }
}
