.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: white;;
    gap: 10px;
    border: 1px solid #e7eaee;
    box-shadow: none;
    border-radius: 9px;
    transition: all 0.25s ease;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .profile-card__avatar {
        border-radius: 50%;
        object-fit: cover;
    }

    .profile-card__biography {
        display: inline-block;
        margin: 0;
        padding: 0;
        font-size: 1.6rem;
        color: #ccc;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
